In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

**Vissualization Data**

In [ ]:
ds = pd.read_csv('drive/MyDrive/DataSets/letter-recognition.csv')
ds.head()

  letter  xbox   ybox   width   height  ...  xy2bar  xedge   xedgey  yedge   yedgex
0      T      2      8       3       5  ...       8       0       8       0       8
1      I      5     12       3       7  ...       9       2       8       4      10
2      D      4     11       6       8  ...       7       3       7       3       9
3      N      7     11       6       6  ...      10       6      10       2       8
4      G      2      1       3       1  ...       9       1       7       5      10

[5 rows x 17 columns]

In [ ]:
ds['letter'].value_counts()

U    813
D    805
P    803
T    796
M    792
A    789
X    787
Y    786
Q    783
N    783
F    775
G    773
E    768
B    766
V    764
L    761
R    758
I    755
O    753
W    752
S    748
J    747
K    739
C    736
H    734
Z    734
Name: letter, dtype: int64

In [ ]:
ds.shape

(20000, 17)

**Pre processing**

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(ds.drop('letter', axis=1), ds['letter'], test_size=0.3)
print('X_train: ', X_train)
print('Y_train: ', y_train)
print('X_test: ', X_test)
print('Y_test: ', y_test)

X_train:         xbox   ybox   width   height  ...  xedge   xedgey  yedge   yedgex
5228       3      3       5       4  ...       8       9       0       8
10162      5      7       6       8  ...       3       9       7      10
18594      2      2       3       4  ...       1       8       7       8
11667      2      5       3       4  ...       0       7       2       8
12516      0      6       0       4  ...       0       8       0       8
...      ...    ...     ...     ...  ...     ...     ...     ...     ...
3712       3      3       5       2  ...       5       8       0       8
16083      0      4       0       6  ...       0       8       0       8
12168      4     10       4       7  ...       3       8       0       8
9948       5      9       7       7  ...       3       9       3       7
6215       3      4       3       6  ...       0       8       0       8

[14000 rows x 16 columns]
Y_train:  5228     W
10162    Q
18594    Z
11667    L
12516    I
        ..
3712     N
16083    I
12168    H
9948     H
6215     L
Name: letter, Length: 14000, dtype: object
X_test:         xbox   ybox   width   height  ...  xedge   xedgey  yedge   yedgex
11102      4      5       6       7  ...       1      11       0       8
17970      4     11       5       9  ...       2       7       5      11
19035      4      9       6       6  ...       1       7       4       9
8033       3      3       3       2  ...       5      11       1       6
1494       2      4       4       6  ...       2       7       6       8
...      ...    ...     ...     ...  ...     ...     ...     ...     ...
8145       2      6       3       4  ...       0       7       2       5
13552      3      8       6       6  ...       2      11       2       8
2634       8     11      11       9  ...       3       8       3       8
378        4     11       5       8  ...       2       7       8       8
16227      4      8       5       6  ...       1       8       5       9

[6000 rows x 16 columns]
Y_test:  11102    Y
17970    G
19035    C
8033     W
1494     Z
        ..
8145     L
13552    Y
2634     H
378      Z
16227    Z
Name: letter, Length: 6000, dtype: object

In [ ]:
modelSgd = MLPClassifier(hidden_layer_sizes=(100,100,100), activation='relu', solver='sgd', max_iter=2000)
modelSgd.fit(X_train, y_train)
print(classification_report(y_test, modelSgd.predict(X_test)))

              precision    recall  f1-score   support

           A       0.97      0.98      0.97       217
           B       0.91      0.88      0.90       241
           C       0.95      0.96      0.96       217
           D       0.90      0.95      0.93       230
           E       0.94      0.92      0.93       225
           F       0.94      0.94      0.94       251
           G       0.91      0.95      0.93       235
           H       0.92      0.93      0.92       217
           I       0.95      0.94      0.94       217
           J       0.96      0.95      0.95       215
           K       0.94      0.96      0.95       219
           L       0.98      0.95      0.97       252
           M       0.97      0.99      0.98       214
           N       0.97      0.95      0.96       234
           O       0.91      0.94      0.92       211
           P       0.96      0.96      0.96       258
           Q       0.98      0.95      0.97       234
           R       0.89      0.88      0.88       235
           S       0.95      0.95      0.95       193
           T       0.95      0.97      0.96       238
           U       0.98      0.96      0.97       269
           V       0.95      0.95      0.95       243
           W       0.99      0.96      0.97       220
           X       0.97      0.97      0.97       244
           Y       0.97      0.96      0.96       240
           Z       0.97      0.99      0.98       231

    accuracy                           0.95      6000
   macro avg       0.95      0.95      0.95      6000
weighted avg       0.95      0.95      0.95      6000

In [ ]:
modelAdam = MLPClassifier(hidden_layer_sizes=(250,250, 250), activation='relu', solver='adam', max_iter=2000)
modelAdam.fit(X_train, y_train)
print(classification_report(y_test, modelAdam.predict(X_test)))

              precision    recall  f1-score   support

           A       0.99      0.98      0.99       217
           B       0.93      0.93      0.93       241
           C       0.95      0.98      0.96       217
           D       0.98      0.91      0.94       230
           E       0.91      0.97      0.94       225
           F       0.97      0.97      0.97       251
           G       0.95      0.95      0.95       235
           H       0.90      0.94      0.92       217
           I       0.95      0.94      0.94       217
           J       0.94      0.94      0.94       215
           K       0.96      0.96      0.96       219
           L       0.99      0.96      0.98       252
           M       0.97      0.99      0.98       214
           N       1.00      0.96      0.98       234
           O       0.91      0.98      0.94       211
           P       0.94      0.97      0.95       258
           Q       0.98      0.95      0.97       234
           R       0.92      0.91      0.91       235
           S       0.96      0.95      0.96       193
           T       0.97      0.97      0.97       238
           U       0.99      0.97      0.98       269
           V       0.94      0.98      0.96       243
           W       0.99      0.97      0.98       220
           X       0.99      0.97      0.98       244
           Y       0.98      0.97      0.98       240
           Z       0.99      0.99      0.99       231

    accuracy                           0.96      6000
   macro avg       0.96      0.96      0.96      6000
weighted avg       0.96      0.96      0.96      6000

In [ ]:
modelAdam = MLPClassifier(hidden_layer_sizes=(200,200, 200), activation='logistic', solver='adam', max_iter=2000)
modelAdam.fit(X_train, y_train)
print(classification_report(y_test, modelAdam.predict(X_test)))

              precision    recall  f1-score   support

           A       0.97      0.98      0.97       217
           B       0.93      0.91      0.92       241
           C       0.95      0.98      0.96       217
           D       0.92      0.96      0.94       230
           E       0.95      0.96      0.96       225
           F       0.94      0.96      0.95       251
           G       0.94      0.93      0.94       235
           H       0.93      0.94      0.93       217
           I       0.95      0.92      0.93       217
           J       0.94      0.94      0.94       215
           K       0.93      0.99      0.96       219
           L       1.00      0.97      0.98       252
           M       0.97      0.99      0.98       214
           N       0.97      0.98      0.97       234
           O       0.97      0.92      0.95       211
           P       0.99      0.90      0.95       258
           Q       0.99      0.93      0.96       234
           R       0.88      0.95      0.91       235
           S       0.95      0.99      0.97       193
           T       0.95      0.98      0.96       238
           U       0.99      0.96      0.97       269
           V       0.96      0.98      0.97       243
           W       1.00      0.96      0.98       220
           X       0.97      0.98      0.98       244
           Y       1.00      0.97      0.98       240
           Z       0.99      0.98      0.98       231

    accuracy                           0.96      6000
   macro avg       0.96      0.96      0.96      6000
weighted avg       0.96      0.96      0.96      6000